*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

 body{
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height:1.8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}




/*---------carousel-----------*/

#carouselExampleIndicators{
	position: relative;
	height: 100%;
	width: 100%;
}

#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%
	background: #000;
}



#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background-position: center;

}

#carouselExampleIndicators .carousel-inner h1{
	position: absolute;
	color: #fff;
	height: auto;
	width: 100%;
	top: 40%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 4.5em;
	font-weight: 750;
}

#carouselExampleIndicators .carousel-inner p{
	position: absolute;
	color: #fff;
	height: auto;
	width: 100%;
	top: 55%;
	text-align: center;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 1.2em;
	font-weight: 650;
}

#carouselExampleIndicators .carousel-inner button{
	position: absolute;
	height: auto;
	top: 70%;
	background-color: #121212 ;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 1.2em;
	margin-left: 40%;

	
}

/*------------ image overlay effect-------------*/

.overlay-div{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000;
	opacity: .5;
}

/*------------ best offers section styling ------------*/

.offers{
	
	width: 100%;
	padding: 90px 0px 50px;
}

.offers h2{
	font-size: 40px;
	font-weight: bold;
}

.card{
	margin-top: 40px; 
}



.offers .btn{
	margin-top: 20px;
}

/*--------------why us section styling -----------------*/

.whyus{
	background-image:linear-gradient(rgba(18,18,18,0.6),rgba(18,18,18,0.6)), url('../images/4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding: 40px 0px 50px;
}

.whyus h2{
	font-size: 40px;
	font-weight: bold;
}


/*-------------- customer review styling ------------*/

.customer{
	
	width: 100%;
	padding: 100px 0px 60px;
}

.customer h2{
	font-size: 40px;
	font-weight: bold;
}

.teamsetting{
	margin-top: 70px !important;
}

/*-------footer------------*/

/*footer*/

.footer{
	background-image: linear-gradient(rgba(18,18,18,0.8),rgba(18,18,18,0.8)), url('../images/footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 50px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
	margin-top: 5%;
	
}

.footer hr{
	border-top-color: #bbb;
	opacity: 0.5;
}

.footer hr.small{
	margin: 20px 0;
}

.footer h6{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}

.footer h4{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 60px;
	letter-spacing: 2px;
}

.footer a{
	color: #737373;
}

.footer a:hover{
	color: #fff;
	text-decoration: none;
}

/* navigation links styling*/
.footer-links{
	padding-left: 0;
	list-style: none;
}

.footer-links li{
	display: block;
}

.footer-links a{
	color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover{
	color: #fff;
	text-decoration: none;
}

/*copyright*/
.copyright-text{
	margin: 0;
}

/*bottom footer social media icons- facebook and youtube styling*/
.footer .social-icons{
	text-align: right;
}

.footer .social-icons a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
	
}

.social-icons{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.social-icons li{
	display: inline-block;
	margin-bottom: 4px;
}

.social-icons a{
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover{
	color: #fff;
	background-color: #29aafe;
}
/* end of bottom footer social media icons- facebook and youtube styling*/

/*----------responsive design------*/

@media(min-width: 768px) and (max-width: 991px){
	

	#carouselExampleIndicators .carousel-inner button{
		margin-left: 35%;
	}


}

@media(min-width: 575px) and (max-width: 767px){
	
	#carouselExampleIndicators .carousel-inner button{
		margin-left: 28%;
	}

	#carouselExampleIndicators .carousel-inner h1{
		font-size: 3.5em;
	}

	#carouselExampleIndicators .carousel-inner p{
		font-size: 1em;
	}
	

}

@media(min-width: 480px) and (max-width: 574px){
	#carouselExampleIndicators .carousel-inner button{
		margin-left: 25%;
		font-size: 1em;
	}

	#carouselExampleIndicators .carousel-inner h1{
		font-size: 3em;
	}

	#carouselExampleIndicators .carousel-inner p{
		font-size: 1em;
	}
}

@media(max-width: 479px ){
	#carouselExampleIndicators .carousel-inner button{
		margin-left: 25%;
		font-size: 1em;
	}

	#carouselExampleIndicators .carousel-inner h1{
		font-size: 2.5em;
	}

	#carouselExampleIndicators .carousel-inner p{
		font-size: 1em;
	}
	
}


